* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --orange-color-1: rgba(225, 111, 6, 1);
  --orange-color-2: rgba(225, 111, 6, 0.1);
  --orange-color-3: rgba(238, 156, 6, 0.29);
  --orange-color-4: rgba(225, 111, 6, 0.6);
  --orange-color-5: rgb(245 136 35);
  --white-color-1: #fff;
  --black-color-1: #000000;
  --font-size-heading: 64px;
  --border-radius: 10px;
}
