* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --orange-color-1: rgba(225, 111, 6, 1);
  --orange-color-2: rgba(225, 111, 6, 0.1);
  --orange-color-3: rgba(238, 156, 6, 0.29);
  --orange-color-4: rgba(225, 111, 6, 0.6);
  --orange-color-5: rgb(245 136 35);
  --grey-color-1: #80808054;
  --grey-color-2: #f8f8f8;
  --white-color-1: #fff;
  --black-color-1: #000000;
  --font-size-heading: 64px;
  --font-size-heading-2: 1.7rem;
  --font-size-heading-3: 3rem;
  --font-size-heading-4: 26px;
  --border-radius: 10px;
  --border-radius-50: 50px;
  --border-radius-100: 100px;
}

.main-container {
  padding: 60px 0px 20px 0px;
}

.sub-container {
  padding: 20px 20px;
}

.commitment-header h3 {
  font-size: var(--font-size-heading-2);
}

.text-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 20px 0px;
  gap: 20px;
}

.text-container-commitment {
  display: grid;
  gap: 20px;
}

.image-container {
  height: 270px;
  text-align: center;
}

.image {
  width: 80%;
  height: 100%;
  object-fit: cover; /*contain*/
  border-radius: var(--border-radius);
}

/* Nav */
.dummy-container-nav {
  position: fixed;
  background-color: var(--white-color-1);
  height: 60px;
  width: 100%;
}

.header-container {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--orange-color-2);
  position: fixed;
  align-items: center;
}

nav {
  grid-area: nav;
}

nav a {
  display: block;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

nav li {
  list-style: none;
  flex-basis: 100%;
}

nav a:hover {
  background-color: var(--orange-color-1);
  color: var(--white-color-1);
  border-radius: var(--border-radius);
}

#toggleNav {
  display: none;
}

.labelLook {
  display: block;
  color: var(--orange-color-1);
  font-size: 2rem;
  padding: 8px 10px 10px 12px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 60px;
}

nav ul {
  display: none;
}

#toggleNav:checked ~ ul {
  display: flex;
  position: fixed;
  top: 60px;
  width: 100%;
  flex-wrap: wrap;
}

.search-container {
  width: 32%;
  height: 35px;
  border-radius: var(--border-radius);
  background-color: var(--white-color-1);
  display: flex;
}

.icon-search {
  height: 17px;
  width: 17px;
  align-self: center;
  margin-left: 10px;
}

.header-container a {
  padding: 0px;
  text-decoration: none;
  height: 60px;
}

.logo-image {
  cursor: pointer;
  height: 60px;
  width: 110px;
  background-color: var(--orange-color-2);
}

.header-span{
  text-align: justify
}

/* Footer  */
footer {
  background-color: var(--orange-color-1);
  color: white;
  padding: 10px;
  text-align: center;
  grid-area: foot;
  width: 100%;
}

.social-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links {
  padding: 10px;
}

.social-links a {
  margin-right: 5px;
  color: var(--white-color-1);
}

/* Commitment Container */
.commitment-container {
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 20px 1px var(--grey-color-1);
  display: grid;
  gap: 20px;
}

.main-heading-container {
  display: block;
}

.heading-1 {
  font-size: var(--font-size-heading-2);
}

.align-heading-1 {
  display: inline;
  border-bottom: 3px solid var(--orange-color-3);
}

.heading-2 {
  font-size: 20px;
}

/* Goals */
.goals-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 20px 0px;
}

.goal {
  position: relative;
}

.image-goal {
  width: 100%;
  height: 100%;
  object-fit: cover; /*contain*/
  filter: brightness(50%);
}

.goal-text-container {
  position: absolute;
  top: 30%;
  left: 0%;
  display: grid;
  gap: 20px;
  justify-items: center;
  padding: 10px;
  text-align: center;
}

.goal-text-heading-1 {
  font-size: 30px;
  color: var(--white-color-1);
}

.goal-text-heading-2 {
  font-size: 20px;
  color: var(--white-color-1);
}

@media screen and (min-width: 90ch) {
  .main-container {
    padding: 0px 100px 0px 100px;
  }

  /* NAV */
  .logo-image {
    background-color: transparent;
  }

  nav {
    width: 100%;
    display: flex;
  }

  nav ul {
    flex: 2;
    align-items: center;
    background-color: var(--orange-color-2);
    height: 80px;
  }

  nav a {
    background: none;
    font-size: 18px;
    color: var(--orange-color-1);
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    position: static;
  }

  nav li {
    flex: 3;
  }

  .header-container {
    position: relative;
    flex: 1;
    height: inherit;
  }

  .search-container {
    width: 60%;
    margin-left: 20px;
  }

  .labelLook {
    display: none;
  }

  .dummy-container-nav {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .connect-us {
    font-size: 24px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .connect-us a {
    text-decoration: none;
    color: var(--white-color-1);
  }

  .connect-us a:hover {
    text-decoration: underline;
  }
}
