* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --orange-color-1: rgba(225, 111, 6, 1);
  --orange-color-2: rgba(225, 111, 6, 0.1);
  --orange-color-3: rgba(238, 156, 6, 0.29);
  --orange-color-4: rgba(225, 111, 6, 0.6);
  --orange-color-5: rgb(245 136 35);
  --grey-color-1: #80808054;
  --white-color-1: #fff;
  --black-color-1: #000000;
  --font-size-heading: 64px;
  --font-size-heading-2: 1.7rem;
  --font-size-heading-3: 3rem;
  --font-size-heading-4: 26px;
  --border-radius: 10px;
  --border-radius-50: 50px;
  --border-radius-100: 100px;
}

.main-container {
  padding: 60px 20px 20px 20px;
}
/* Nav */
.dummy-container-nav {
  position: fixed;
  background-color: var(--white-color-1);
  height: 60px;
  width: 100%;
}

.header-container {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--orange-color-2);
  /* background-color: #855858; */
  position: fixed;
  align-items: center;
}

nav {
  grid-area: nav;
}

nav a {
  display: block;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

nav li {
  list-style: none;
  flex-basis: 100%;
}

nav a:hover {
  background-color: var(--orange-color-1);
  color: var(--black-color-1);
  border-radius: var(--border-radius);
}

#toggleNav {
  display: none;
}

.labelLook {
  /* background-color: var(--orange-color-2); */
  display: block;
  color: var(--orange-color-1);
  font-size: 2rem;
  /* padding: 10px; */
  padding: 8px 10px 10px 12px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 60px;
}

nav ul {
  display: none;
}

#toggleNav:checked ~ ul {
  display: flex;
  position: fixed;
  top: 60px;
  width: 100%;
  flex-wrap: wrap;
}

.search-container {
  width: 32%;
  height: 35px;
  border-radius: var(--border-radius);
  background-color: var(--white-color-1);
  display: flex;
}

.icon-search {
  height: 17px;
  width: 17px;
  align-self: center;
  margin-left: 10px;
}

.logo-image {
  cursor: pointer;
  height: 60px;
  width: 110px;
}

/* Footer  */
footer {
  background-color: var(--orange-color-1);
  color: white;
  padding: 10px;
  text-align: center;
  grid-area: foot;
  width: 100%;
}

.social-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links {
  padding: 10px;
}

.social-links a {
  margin-right: 5px;
  color: var(--white-color-1);
}

.gallery-container{
    margin: 20px 0px;
}

.heading-container{
    margin-bottom: 20px;
}

.heading-1{
    font-size: var(--font-size-heading-3);
    /* margin-bottom: 20px; */

    display: inline;
  /* font-size: 3.2rem; */
  font-size: clamp(1.8rem, 3.2vw, 2.7rem);
  border-bottom: 3px solid var(--orange-color-3);
  /* background-color: var(--orange-color-2); */
  /* border-radius: var(--border-radius); */
  /* padding: 10px; */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 270px;
    grid-gap: .8em;
    grid-auto-flow: row dense;
    font-weight: 400
}

figure {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--orange-color-2);
    padding: 7px;
    margin: 3px;
}

div.image-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.gallery img {
    display: inline-block;
    width: 100%;
    height: auto;
    flex: 1;
    /* opacity: .7; */
    object-fit: cover;
    border-radius: var(--border-radius);
    transition: all 200ms ease-out;
}

figure:hover img {
    transform: scale(1.1);
    /* opacity: 1; */
}

.two-span-row {
    grid-row: auto / span 2;
}

.two-span-column {
    grid-column: auto / span 2;
}

.full-span-column {
    grid-column: 1 / -1;
    grid-row: span 1;
}

@media (min-width: 1000px) {
    .full-span-column {
        grid-column: 1 / span 2;
        grid-row: span 1;
    } 
}

.project-dec{
    display: grid;
    gap: 20px;
    margin-top: 3px;
    border-top: 1px solid var(--black-color-1);
    padding-top: 5px;
    color: var(--black-color-1);
}

.image-desc {
    color: var(--black-color-1);
    font-size: 18px;
}



@media (max-width: 550px) {
    .gallery {
    display: block;
  }
  
  figure {
    margin-bottom: 1em;
  }
  
  /* figcaption {
    font-size: .9em;  
  } */
}

@media screen and (min-width: 90ch) {
  .main-container {
    padding: 40px 100px 20px 100px;
    max-width: 1280px;
    margin: 0 auto;
  }

  /* NAV */

  nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    /* background-color: var(--orange-color-2); */
  }

  nav ul {
    flex: 2;
    align-items: center;
    background-color: var(--orange-color-2);
    height: 80px;
  }

  nav a {
    background: none;
    font-size: 18px;
    color: var(--orange-color-1);
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    position: static;
  }

  nav li {
    flex: 3;
  }

  .header-container {
    /* display: none; */
    position: relative;
    flex: 1;
    height: inherit;
  }

  .search-container {
    width: 60%;
    margin-left: 20px;
  }

  .labelLook {
    display: none;
  }

  .dummy-container-nav {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .connect-us {
    font-size: 24px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .connect-us a {
    text-decoration: none;
    color: var(--white-color-1);
  }

  .connect-us a:hover {
    text-decoration: underline;
  }
}
