* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --orange-color-1: rgba(225, 111, 6, 1);
  --orange-color-2: rgba(225, 111, 6, 0.1);
  --orange-color-3: rgba(238, 156, 6, 0.29);
  --orange-color-4: rgba(225, 111, 6, 0.6);
  --orange-color-5: rgb(245 136 35);
  --grey-color-1: #80808054;
  --grey-color-2: #f8f8f8;
  --white-color-1: #fff;
  --black-color-1: #000000;
  --font-size-heading: 64px;
  --font-size-heading-2: 1.7rem;
  --font-size-heading-3: 3rem;
  --font-size-heading-4: 26px;
  --border-radius: 10px;
  --border-radius-50: 50px;
  --border-radius-100: 100px;
}

.main-container {
  padding: 60px 0px 20px 0px;
}

.sub-container {
  padding: 0px 20px 0px 20px;
}
/* Nav */
.dummy-container-nav {
  position: fixed;
  background-color: var(--white-color-1);
  height: 60px;
  width: 100%;
}

.header-container {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--orange-color-2);
  /* background-color: #855858; */
  position: fixed;
  align-items: center;
}

nav {
  grid-area: nav;
}

nav a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

nav li {
  list-style: none;
  flex-basis: 100%;
}

nav a:hover {
  background-color: lightblue;
  color: #000;
}

#toggleNav {
  display: none;
}

.labelLook {
  /* background-color: var(--orange-color-2); */
  display: block;
  color: var(--orange-color-1);
  font-size: 2rem;
  /* padding: 10px; */
  padding: 8px 10px 10px 12px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 60px;
}

nav ul {
  display: none;
}

#toggleNav:checked ~ ul {
  display: flex;
  position: fixed;
  top: 60px;
  width: 100%;
  flex-wrap: wrap;
}

.search-container {
  width: 32%;
  height: 35px;
  border-radius: var(--border-radius);
  background-color: var(--white-color-1);
  display: flex;
}

.icon-search {
  height: 17px;
  width: 17px;
  align-self: center;
  margin-left: 10px;
}

.logo-image {
  cursor: pointer;
  height: 60px;
  width: 110px;
}

/* Footer  */
footer {
  background-color: var(--orange-color-1);
  color: white;
  padding: 10px;
  text-align: center;
  grid-area: foot;
  width: 100%;
}

.social-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links {
  padding: 10px;
}

.social-links a {
  margin-right: 5px;
  color: var(--white-color-1);
}

/* Services header */

.services-header-container {
  /* padding-top: 60px; */
  min-height: 100px;
  width: 100%;
  background-color: var(--orange-color-1);
  padding: 10px 0px;
}

.align-header {
  display: grid;
  /* grid-area: 1fr 1fr; */
  grid-template-columns: 1fr 100px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.category-container span {
  font-size: 24px;
  color: var(--white-color-1);
}

.cart-container {
  height: 40px;
  display: flex;
  width: 100px;
  border: 1px solid var(--white-color-1);
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--white-color-1);
  background-color: var(--orange-color-2);
}

.cart-container span {
  font-size: 12px;
  margin-right: 10px;
}

.ad-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  min-height: 100px;
  background-color: var(--orange-color-2);
  justify-items: center;
  gap: 20px;
  padding: 10px 0;
}

.ad-3-container {
  text-align: center;
}

.header-ad-1 {
  font-size: 24px;
}

.header-align {
  color: var(--orange-color-1);
  border-bottom: 3px solid var(--orange-color-3);
  /* background-color: var(--orange-color-2); */
  /* border-radius: var(--border-radius); */
  /* padding: 10px; */
}

/* Services */
.services {
  margin: 20px 0px;
  display: grid;
  gap: 20px;
}

.service-gallery {
  background-color: var(--grey-color-2);
  display: grid;
  justify-items: center;
  /* margin-top: 10px; */
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  /* background-color: var(--orange-color-2); */
  /* border-radius: var(--border-radius); */
}

.service {
  padding: 10px;
  align-items: center;
  /* height: 250px; */
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 90ch) {
  .main-container {
    padding: 0px 0px 0px 0px;
  }

  .sub-container {
    padding: 20px 100px 20px 100px;
  }

  /* NAV */

  nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    /* background-color: var(--orange-color-2); */
  }

  nav ul {
    flex: 2;
    align-items: center;
    background-color: var(--orange-color-2);
    height: 80px;
  }

  nav a {
    background: none;
    font-size: 20px;
    color: var(--orange-color-1);
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    position: static;
  }

  nav li {
    flex: 3;
  }

  .header-container {
    /* display: none; */
    position: relative;
    flex: 1;
    height: inherit;
  }

  .search-container {
    width: 50%;
    margin-left: 20px;
  }

  .labelLook {
    display: none;
  }

  .dummy-container-nav {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .connect-us {
    font-size: 24px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .connect-us a {
    text-decoration: none;
    color: var(--white-color-1);
  }

  .connect-us a:hover {
    text-decoration: underline;
  }

  .align-header {
    padding: 0px 100px 0px 100px;
    align-items: center;
  }


  .ad-container{
    margin-top: 0px;
  }

  .services-header-container {
    min-height: 65px;
  }

  .services {
    margin-top: 0px;
  }
}
