* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --orange-color-1: rgba(225, 111, 6, 1);
  --orange-color-2: rgba(225, 111, 6, 0.1);
  --orange-color-3: rgba(238, 156, 6, 0.29);
  --orange-color-4: rgba(225, 111, 6, 0.6);
  --orange-color-5: rgb(245 136 35);
  --white-color-1: #fff;
  --black-color-1: #000000;
  --font-size-heading: 64px;
  --border-radius: 10px;
}

.main-container {
}

.header {
  /* height: 50px; */
  /* background-color: orange; */
}

@media (min-width: 600px) {
  .main-container {
    /* display: flex;
    justify-content: space-between; */
    /* background-color: orange; */
  }
}

header {
  /* background-image: url("../images/background.webp"); */
  /* background-size: cover; */
  grid-area: head;
  display: grid;
  /* margin-top: 60px; */
  /* height: 100vh; */
  /* place-content: center; */
}

.container {
  display: grid;
  /* grid-template-columns: minmax(50px, 10vw) 1fr / classTest.html 1fr minmax(
        50px,
        10vw
      ); */
  grid-template-areas:
    "nav nav nav nav"
    "head head head head"
    " section-one section-one section-one section-one"
    "section-services section-services section-services section-services"
    "section-about-us section-about-us section-about-us section-about-us"
    "section-projects section-projects section-projects section-projects"
    "section-signup section-signup section-signup section-signup"
    "foot foot foot foot";
}

/* To adjust the nav bar scroll because of the opacity */
.dummy-container-nav {
  position: fixed;
  background-color: var(--white-color-1);
  height: 60px;
  width: 100%;
}

nav {
  grid-area: nav;
}

footer {
  background-color: var(--orange-color-1);
  color: white;
  padding: 10px;
  text-align: center;
  grid-area: foot;
  width: 100%;
}

nav a {
  display: block;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

nav li {
  list-style: none;
  flex-basis: 100%;
}

nav a:hover {
  background-color: var(--orange-color-1);
  color: var(--black-color-1);
  border-radius: var(--border-radius);
}

.header-container {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--orange-color-2);
  /* background-color: #855858; */
  position: fixed;
  align-items: center;
}

.search-container {
  width: 32%;
  height: 35px;
  border-radius: var(--border-radius);
  background-color: var(--white-color-1);
  display: flex;
}

.icon-search {
  height: 17px;
  width: 17px;
  align-self: center;
  margin-left: 10px;
}

.header-container a {
  padding: 0px;
  text-decoration: none;
  height: 60px;
}

.logo-image {
  cursor: pointer;
  height: 60px;
  width: 110px;
  background-color: var(--orange-color-2);
}

.logo-image:hover {
  background-color: var(--orange-color-3);
}

/* Section one */

.section-one {
  grid-area: section-one;
  background: url("../images/homeInsideOp4.png");
  background-size: cover;
  /* height: 100vh; */
  width: auto;
  /* background-color: bisque; */
  /* background-size: auto;  */
  /* for image */
  /* background-repeat: no-repeat; */
}

.bg-image {
  opacity: 0.3;
  width: 100%;
  /* max-width: 400px; */
  height: auto;
  position: absolute;
}

.sub-container-one {
  /* position: absolute; */
  display: grid;
  padding: 10px 20px 30px 20px;
  gap: 15px;
}

.heading-1 h1 {
  text-align: center;
  font-size: var(--font-size-heading);
  font-style: italic;
  color: var(--orange-color-1);
  text-shadow: 3px 3px 4px;
}

.heading-2 h2 {
  font-style: italic;
  font-size: 36px;
  color: var(--orange-color-1);
}

/* .heading-3 h2 {
  padding: 0 10px;
  font-size: 20px;
} */

/* carousel */
.carousel {
  /* margin: 0 auto; */
  overflow: hidden;
  text-align: center;
}

.sub-container-carousel {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.arrows-carousel {
  align-self: center;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
}

.statement {
  font-size: 18px;
  margin: 0px;
  color: var(--black-color-1);
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  /* font-size: 100px; */
  /* height: 200px; */
  justify-content: center;
  /* margin: 0 1rem; */
  /* position: relative; */
  scroll-snap-align: start;
  /* transform: scale(1); */
  transform-origin: center center;
  transition: transform 0.5s;
  /* background-color: aquamarine; */
  width: 100%;
}

.carousel__nav {
  /* padding: 1.25rem 0.5rem; */
  padding: 20px 0px;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.info {
  width: 300px;
  font-size: 20px;
  margin: 0px;
}

/* .social a {
  background-color: darkgoldenrod;
  color: snow;
}

.social {
  flex-basis: 25%;
} */

#toggleNav {
  display: none;
}

.labelLook {
  /* background-color: var(--orange-color-2); */
  display: block;
  color: var(--orange-color-1);
  font-size: 2rem;
  /* padding: 10px; */
  padding: 8px 10px 10px 12px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 60px;
}

nav ul {
  display: none;
}

#toggleNav:checked ~ ul {
  display: flex;
  position: fixed;
  top: 60px;
  width: 100%;
  flex-wrap: wrap;
}

/* Services Section */
.section-services {
  grid-area: section-services;
  width: auto;
  background-color: var(--white-color-1);
}

.service-header-container {
  /* margin-bottom: 15px; */
  color: var(--orange-color-1);
}

.service-slides {
  justify-content: center;
  width: 30%;
}

.service-slides-item {
  min-height: 300px;
  width: 90%;
  background-color: var(--orange-color-1);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.section-two h1 {
  font-size: 2.2rem;
}

.service-slides-text {
  font-size: 1.2rem;
  padding: 10px;
  color: var(--white-color-1);
}

.header-1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--white-color-1);
}

.header-1 a {
  /* text-decoration: none; */
  color: var(--white-color-1);
}

.service-image-container {
  height: 250px;
}

.service-image {
  /* border-radius: 10px;
  height: 80%;
  min-width: -webkit-fill-available;
  max-height: 360px; */
  width: 80%;
  height: 100%;
  object-fit: scale-down; /*contain*/
  border-radius: var(--border-radius);
}

/* About Us */
.section-about-us {
  grid-area: section-about-us;
  width: auto;
  background-color: var(--white-color-1);
}

.header-about-us {
  margin: 0 0 10px 20px;
  color: var(--orange-color-1);
}

.sub-container-about-us {
  background-color: var(--orange-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
}

.about-us-image {
  height: 100%;
  /* width: auto; */
  min-width: -webkit-fill-available;
  border-radius: var(--border-radius);
}

.about-us-statement {
  background-color: var(--orange-color-1);
  border-radius: var(--border-radius);
  padding: 20px 15px;
  color: var(--white-color-1);
}

/* Projects Section */
.section-projects {
  grid-area: section-projects;
  padding: 10px 20px 30px 20px;
  gap: 15px;
}

.project-header {
  color: var(--orange-color-1);
}

.locations {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  background-color: var(--orange-color-2);
  border-radius: var(--border-radius);
}

.location {
  /* display: grid; */
  /* grid-template-columns: 150px 1fr; */
  /* grid-gap: 10px; */
  /* background-color: rgba(252, 153, 5, 0.5); */
  padding: 10px;
  align-items: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-name {
  background-color: var(--orange-color-1);
  border-radius: var(--border-radius);
  color: var(--white-color-1);
  width: 200px;
  height: 40px;
  /* max-width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Signup Section */
.section-signup {
  grid-area: section-signup;
  background-color: var(--orange-color-2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px 30px 20px;
}

.section-signup h2 {
  font-size: 24px;
  color: var(--orange-color-1);
}

.email-field h3 {
  font-size: 14px;
}
.signup-btn h3 {
  font-size: 20px;
  /* padding: ; */
}

.common-fields-signup {
  height: 50px;
  display: flex;
}

.email-field {
  background-color: var(--white-color-1);
  border-radius: var(--border-radius);
  padding: 10px;
  align-items: center;
  color: var(--orange-color-4);
}

.signup-btn {
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color-3);
  border-radius: var(--border-radius);
  color: var(--orange-color-1);
}

.social-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links {
  padding: 10px;
}

.social-links a {
  margin-right: 5px;
  color: var(--white-color-1);
}

@media screen and (min-width: 90ch) {
  header {
    height: 40vh;
    background-color: aquamarine;
    grid-area: head;
    margin-top: 0px;
  }
  .container {
    /* display: grid; */
    /* grid-template-columns: minmax(50px, 10vw) 1fr/classTest.html 1fr minmax(50px, 10vw); */
    grid-template-areas:
      "nav nav nav nav"
      "head head head head"
      " section-one section-one section-one section-one"
      "section-services section-services section-services section-services"
      "section-about-us section-about-us section-about-us section-about-us"
      "section-projects section-projects section-projects section-projects"
      "section-signup section-signup section-signup section-signup"
      "foot foot foot foot";
  }

  .logo-image {
    background-color: transparent;
  }


  .heading-1 {
    grid-area: company-name;
  }

  .heading-1 h1 {
    margin-top: 25px;
    font-size: 4rem;
  }

  .heading-2 {
    grid-area: company-slogan;
    align-self: flex-end;
  }

  .heading-2 h2 {
    font-size: 3.5rem;
  }

  .carousel {
    grid-area: company-carousel;
    margin: auto;
    margin-top: 1rem;
  }

  .slides-carousel-1 {
    display: grid;
    padding: 0px 90px;
    gap: 1.7rem;
    text-align: start;
  }

  .arrows-carousel {
    display: none;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    position: static;
  }

  nav li {
    flex: 3;
  }

  .social {
    flex: 1;
  }

  .labelLook {
    display: none;
  }

  nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    /* background-color: var(--orange-color-2); */
  }

  nav ul {
    flex: 2;
    align-items: center;
    background-color: var(--orange-color-2);
    height: 80px;
  }

  nav a {
    background: none;
    font-size: 18px;
    color: var(--orange-color-1);
  }

  .header-container {
    position: relative;
    flex: 1;
    height: inherit;
  }

  .search-container {
    width: 60%;
    margin-left: 20px;
  }

  .dummy-container {
    display: none;
  }

  .dummy-container-nav {
    display: none;
  }

  .sub-container-one {
    height: 80vh;
    grid-template-areas:
      ". . . ."
      " company-slogan company-slogan company-name company-name"
      "company-slogan company-slogan company-carousel company-carousel"
      ". . . .";
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  .heading-1 {
    /* grid-column: 4 / 4; */
    grid-row: 2 / 4;
    /* 2/5 */
    background-color: #ffffff64;
    border-radius: var(--border-radius);
  }

  /* Services Section */

  .sub-container-services {
    height: auto;
    display: grid;
    grid-auto-columns: auto;
    /* grid-auto-flow: column; */
    grid-template-areas:
      "service-header-section service-header-section service-header-section service-header-section"
      "carousel-service-section carousel-service-section  carousel-service-section  carousel-service-section ";
  }

  .service-header-container {
    color: var(--orange-color-1);
    grid-area: service-header-section;
  }

  .carousel-service {
    grid-area: carousel-service-section;
    margin: 0px;
  }

  .slides-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(3, 1fr); */
  }

  .service-slides-item:hover {
    cursor: pointer;
    background-color: var(--orange-color-5);
  }

  /* About Us */
  .sub-container-about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-us-image {
    min-width: 400px;
    max-width: 500px;
    flex: 1;
  }
  .about-us-statement {
    max-width: 450px;
    min-height: 280px;
    font-size: 1.3rem;
  }

  .header-about-us h1 {
    margin: 0 0 10px 40px;
    font-size: 2.7rem;
  }

  /* Project */

  .project-header h1 {
    font-size: 2.7rem;
    margin: 0 0 10px 40px;
  }

  .locations {
    width: 90%;
    margin: auto;
  }

  .location {
    margin-top: 10px;
  }

  .location-image {
    height: 100%;
    /* width: auto; */
    min-width: -webkit-fill-available;
    border-radius: var(--border-radius);
  }

  /* Signup */
  .section-signup {
    grid-area: section-signup;
    display: grid;
    align-items: center;
    /* grid-row: 1; */
    /* flex-direction: row; */
    padding: 20px 200px 20px 200px;
    /* align-items: center; */
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas: "signup-header-section signup-header-section email-field-section signup-btn-section";
    margin-bottom: 30px;
  }

  .signup-header {
    grid-area: signup-header-section;
    /* grid-column: span 2; */
    /* grid-row: 1 / 2; */
  }

  .signup-header h2 {
    font-size: 1.8rem;
  }

  .email-field {
    grid-area: email-field-section;
    /* grid-column: span 2; */
    /* grid-row: 1 / 2; */
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .signup-btn {
    grid-area: signup-btn-section;
    width: 160px;
    height: 40px;
    /* grid-column-start: 4; */
    /* grid-column-end: 5; */
    justify-self: right;
    margin-right: 5px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .connect-us {
    font-size: 24px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .connect-us a {
    text-decoration: none;
    color: var(--white-color-1);
  }

  .connect-us a:hover {
    text-decoration: underline;
  }

  /* HOVERING EFFECTS */
}
